<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link  th:href="@{/img/core-img/favicon.ico}" rel="icon">

    <!-- Stylesheet -->
    <link  th:href="@{/style.css}" rel="stylesheet">

</head>

<body>
<!-- Preloader-->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a th:href="@{/}" class="nav-brand"><img th:src="@{/photo/core-img/logo.png}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{songs}">Songs</a></li>
                                <li><a th:href="@{artists}">Artists</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center" th:each="album : ${albums2}">
            <!-- Slide Img -->
            <div class="slide-img bg-img" th:style="'background-image:url('+${album.getPhoto()}+')'"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms" th:text="${album.getName()}"> <span th:text="${album.getName()}"></span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" th:href="@{album?id=}+${album.getId()}" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Featured Artist Area Start ##### -->
<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" th:each="album,albumStat : ${albums2}" th:if="${albumStat.count &lt; 2}" th:object="${firstsong}" style="background-image: url(photo/bg-img/bg-4.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img th:src="@{${firstsong.getPhoto()}}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p>See what’s new</p>
                        <h2 th:text="${album.getName()}"></h2>
                    </div>
                    <p th:text="${firstsong.getArtist()}"></p>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p th:text="${firstsong.getName()}"></p>
                        </div>
                        <audio preload="auto" controls>
                            <source th:src="@{${firstsong.getUrl()}}" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Artist Area End ##### -->
<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>See what’s new</p>
                    <h2>All Albums</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album" th:each="album : ${albums}">
                        <img th:src="@{${album.getPhoto()}}" alt="">
                        <div class="album-info">
                            <a th:href="@{album?id=}+${album.getId()}">
                                <h5 th:text="${album.getName()}"></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->

<!-- ##### Buy Now Area Start ##### -->
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>See what’s new</p>
                    <h2>Latest songs</h2>
                </div>
            </div>
        </div>

        <div class="row">

<!--             Single Album Area-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2" th:each="song : ${songs12}">
                <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                    <div class="album-thumb">
                        <img th:src="@{${song.getPhoto()}}" alt="">
                        <!-- Play Icon -->
                        <div class="play-icon">
                            <a th:href="@{player?id=}+${song.getId()}" class="video--play--btn"><span class="icon-play-button"></span></a>
                        </div>
                    </div>
                    <div class="album-info">
                        <a href="#">
                            <h5 th:text="${song.getName()}"></h5>
                        </a>
                        <p th:text="${song.getArtist()}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a th:href="@{songs}" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Buy Now Area End ##### -->



<!-- ##### Miscellaneous Area Start ##### -->
<section class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- ***** Weeks Top ***** -->
            <div class="col-12 col-lg-4">
                <div class="weeks-top-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>See what’s new</p>
                        <h2>New Albums</h2>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms" th:each="album,albumStat : ${albums}" th:if="${albumStat.count &lt; 6}">
                        <div class="thumbnail">
                            <img th:src="@{${album.getPhoto()}}" alt="">
                        </div>
                        <div class="content-">
                            <a th:href="@{album?id=}+${album.getId()}">
                                <p th:text="${album.getName()}"></p>
                            </a>
                        </div>
                    </div>



                </div>
            </div>

            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>See what’s new</p>
                        <h2>New Hits</h2>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms"  th:each="song,songStat : ${songs12}" th:if="${songStat.count &lt; 6}">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img th:src="@{${song.getPhoto()}}" alt="">
                            </div>
                            <div class="content-">
                                    <h6 th:text="${song.getName()}"></h6>
                                <p th:text="${song.getArtist()}"></p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source th:src="@{ ${song.getUrl()}}" type="audio/mpeg" >
                        </audio>
                    </div>
                </div>
            </div>

            <!-- ***** Popular Artists ***** -->
            <div class="col-12 col-lg-4">
                <div class="popular-artists-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>See what’s new</p>
                        <h2>Popular Artist</h2>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" th:each="artist: ${artists5}" >
                        <div class="thumbnail">
                            <img th:src="@{${artist.getPhoto()}}" alt="">
                        </div>
                        <div class="content-">
                            <a th:href="@{artist_info?id=}+${artist.getId()}">
                                <p th:text="${artist.getName()}"></p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script type="text/javascript" th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script type="text/javascript" th:src="@{js/plugins/plugins.js}"></script>
<!-- Active js -->
<script type="text/javascript" th:src="@{js/active.js}"></script>
</body>

</html>